body {background: #222;}

#hamburger {
	width: 200px;
	height:200px;
	position: relative;
	margin: 200px auto;
}

#burger {
	display: block;
	cursor: pointer;
}
#burger span {
	background: white;
	width: 100px;
	height:10px;
	display: block;
	position: relative;
	top:0px;
	margin-bottom: 10px;
	transition: all ease-in-out 0.4s;
}

#hamburger.open span:nth-child(2),
#hamburger.open span:nth-child(3){
	width: 0px;
	opacity: 0;
}

#hamburger.open span:nth-child(1) {
	transform: rotate(45deg);
	top:30px;
}

#hamburger.open span:nth-child(4) {
	transform: rotate(-45deg);
	top:-30px;
}